<h2>Login Form</h2>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter Username"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Enter User Password"
    />
  </div>

  <p>
    Don't have an account <a [routerLink]="['/account/register']">Sign Up</a>
  </p>
  <button type="submit" class="btn btn-dark d-block w-100">Login</button>
</form>
