<h1 class="text-center text-muted mb-3">Our Products</h1>
<div
  class="alert alert-light d-flex justify-content-between align-items-center"
>
  <div>
    <button class="btn btn-outline-dark" [routerLink]="['0/edit']">
      Add new Product
    </button>
  </div>
  <div class="d-flex justify-content-between">
    <input type="text" class="form-control w-25" placeholder="Search ..." />
    <input type="text" class="form-control w-25" placeholder="Filter ..." />
    <button class="btn btn-success">Filter</button>
  </div>
</div>
